@import "~@fontsource/poppins/index.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/700.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./variabili.scss";
@import "./mixins.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: $manatee;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    @include button;
    border: none;
}

button:hover {
    cursor: pointer;
}

input,
textarea {
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px;
    color: currentColor;
    background-color: $gray-nurse;
}

input::placeholder,
textarea::placeholder,
input:focus {
    color: $manatee;
}

img {
    max-width: 100%;
    display: block;
    height: 100%;
}

.container {
    max-width: 830px;
    margin: 0 auto;
}

.row {
    @include row;
}

.section-title {
    @include sectionTitle;
}

.title-dark {
    color: $river-bed;
    font-size: 2.125rem;
}

.title-light {
    color: $gray-nurse;
    font-size: 2.125rem;
}

.title-decoration-light {
    @include backTitle;
}

.title-decoration-dark {
    @include backTitleDark;
}

.subtitle {
    font-size: 14px;
    color: $manatee;
}

.button-green {
    @include buttonGreen;
}

.button-transparent {
    @include buttonTransparent;
}