@import "~@fontsource/poppins/index.css";
@import "~@fontsource/poppins/500.css";
@import "~@fontsource/poppins/700.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./variabili.scss";
@import "./mixins.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: $manatee;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    @include button;
    border: none;
}

button:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 830px;
    margin: 0 auto;
}

.section-title {
    @include sectionTitle;
}

.title-dark {
    color: $river-bed;
}

.title-light {
    color: $gray-nurse;
}
