@import "./variabili.scss";

@mixin navbar {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
}

@mixin overlay {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

@mixin logo {
    color: $blue-lagoon;
    background-color: rgba($blue-lagoon, 0.2);
    border-radius: 999px 0 0 999px;
    padding: 5px 0 5px 15px;
}

@mixin button {
    text-transform: uppercase;
    padding: 10px 18px;
    color: $gray-nurse;
    border-radius: 2px;
    font-weight: 700;
}

@mixin buttonGreen {
    background-color: $blue-lagoon;
}

@mixin buttonTransparent {
    background-color: transparent;
    border: 1px solid $blue-lagoon;
}

@mixin row {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 10px;
}

@mixin sectionTitle {
    text-transform: uppercase;
    color: $blue-lagoon;
    font-size: 14px;
    margin-bottom: 25px;
}

@mixin backTitle {
    color: $blue-lagoon;
    background-color: rgba($gumbo, 0.4);
    border-radius: 4px;
}

@mixin backTitleDark {
    color: $gray-nurse;
    background-color: rgba($blue-lagoon, 0.3);
    border-radius: 4px;
}
