// palette colori

$blue-lagoon: #048383; //sfondo bottoni
$saltpan: #edf4ec; // sfondo section
$river-bed: #4d5a65; // titoli section / card
$manatee: #919194; // font 
$gray-nurse: #e5ebe5; // font alt
$wood-smoke: #121117; // sfondo section
$outer-space: #252c2f; // sfondo header
$padding-link: 5px 8px;

